<!DOCTYPE HTML>
<html lang="ko">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Bootstrap-ecommerce by Vosidiy">
    <title>CU 두정포레나</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/logos/squanchy.jpg' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/logos/squanchy.jpg' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/logos/squanchy.jpg' %}">
    <!-- jQuery -->
    <!-- Bootstrap4 files-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/ui.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/fonts/fontawesome/css/fontawesome-all.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'assets/css/OverlayScrollbars.css' %}" type="text/css" rel="stylesheet" />
    <!-- Font awesome 5 -->
    <style>
        .avatar {
            vertical-align: middle;
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }

        .bg-default,
        .btn-default {
            background-color: #f2f3f8;
        }

        .btn-error {
            color: #ef5f5f;
        }
        @font-face{
            src: url("../static/assets/fonts/Pretendard-SemiBold.otf");
            font-family: "Pretended";
        }

        body{
            font-family: "Pretended";
        }
        .col-md-3{
            flex:20%;
        }
        .btn-custom{
            height: 120px;
        }
    </style>
    <!-- custom style -->
</head>

<body>
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y-sm bg-default ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 card padding-y-sm card ">
                    <ul class="nav bg radius nav-pills nav-fill mb-3 bg" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="pill" href="{% url 'POSApp:index' %}">
                                <i class="fa fa-tags"></i> 판매</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'POSApp:refund' %}">
                                <i class="fa fa-tags "></i> 환불</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'POSApp:stock' %}">
                                <i class="fa fa-tags "></i> 통계</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'POSApp:adminpage' %}">
                                <i class="fa fa-tags "></i> Admin</a>
                        </li>
                    </ul>
                    <h2 class="sale_title">판매</h2>
                    <div class="row">
                        <div class="col-md-3">
                            <figure class="card card-product">
                                <a href="javascript:sale_select('pension_lottery_5000', 5000)"
                                    class="pension_lottery_5000">
                                    <div class="img-wrap">
                                        <h2 class="card_title card_title_pay">연금 5000</h2>
                                    </div>
                                </a>
                                <div class="index_lottery_qty">5000￦ ({{pension_lottery_5000}})</div>
                            </figure> <!-- card // -->
                        </div> <!-- col // -->
                        <div class="col-md-3">
                            <figure class="card card-product">
                                <a href="javascript:sale_select('instant_lottery_1000', 1000)"
                                    class="instant_lottery_1000">
                                    <div class="img-wrap">
                                        <h2 class="card_title card_title_pay">즉석 1000</h2>
                                    </div>
                                </a>
                                <div class="index_lottery_qty">1000￦ ({{instant_lottery_1000}})</div>
                            </figure> <!-- card // -->
                        </div> <!-- col // -->
                        <div class="col-md-3">
                            <figure class="card card-product">
                                <a href="javascript:sale_select('instant_lottery_2000', 2000)"
                                    class="instant_lottery_2000">
                                    <div class="img-wrap">
                                        <h2 class="card_title card_title_pay">즉석 2000</h2>
                                    </div>
                                </a>
                                <div class="index_lottery_qty">2000￦ ({{instant_lottery_2000}})</div>
                            </figure> <!-- card // -->
                        </div> <!-- col // -->
                        <div class="col-md-3">
                            <figure class="card card-product">
                                <a href="javascript:sale_select_x10('instant_lottery_1000', 1000)"
                                    class="instant_lottery_2000">
                                    <div class="img-wrap">
                                        <br>
                                        <h2 class="card_title card_title_pay" style="line-height:normal;">즉석 1000</h2>
                                        <h2 class="card_title card_title_pay" style="line-height:normal;">( X10 )</h2>
                                    </div>
                                </a>
                                <div class="index_lottery_qty">10000￦ ({{instant_lottery_1000}})</div>
                            </figure> <!-- card // -->
                        </div> <!-- col // -->
                        <div class="col-md-3">
                            <figure class="card card-product">
                                <a href="javascript:sale_select_x10('instant_lottery_2000', 2000)"
                                    class="instant_lottery_2000">
                                    <div class="img-wrap">
                                        <br>
                                        <h2 class="card_title card_title_pay" style="line-height:normal;">즉석 2000</h2>
                                        <h2 class="card_title card_title_pay" style="line-height:normal;">( X10 )</h2>
                                    </div>
                                </a>
                                <div class="index_lottery_qty">20000￦ ({{instant_lottery_2000}})</div>
                            </figure> <!-- card // -->
                        </div> <!-- col // -->
                    </div> <!-- row.// -->
                    <hr>
                    <h2 class="sale_title">지급</h2>
                    <div class="row">
                        <div class="col-md-3">
                            <figure class="card card-product">
                                <a href="javascript:pay_select(-1000)"
                                    class="pension_lottery_1000_pay">
                                    <div class="img-wrap">
                                        <h2 class="card_title card_title_sale">1000</h2>
                                    </div>
                                </a>
                                <div class="index_lottery_qty">-1000￦ </div>
                            </figure> <!-- card // -->
                        </div> <!-- col // -->
                        <div class="col-md-3">
                            <figure class="card card-product">
                                <a href="javascript:pay_select(-2000)"
                                    class="pension_lottery_5000_pay">
                                    <div class="img-wrap">
                                        <h2 class="card_title card_title_sale">2000</h2>
                                    </div>
                                </a>
                                <div class="index_lottery_qty">-2000￦ </div>
                            </figure> <!-- card // -->
                        </div> <!-- col // -->
                        <div class="col-md-3">
                            <figure class="card card-product">
                                <a href="javascript:pay_select(-5000)"
                                    class="instant_lottery_1000_pay">
                                    <div class="img-wrap">
                                        <h2 class="card_title card_title_sale">5000</h2>
                                    </div>
                                </a>
                                <div class="index_lottery_qty">-5000￦ </div>
                            </figure> <!-- card // -->
                        </div> <!-- col // -->
                        <div class="col-md-3">
                            <figure class="card card-product">
                                <a href="javascript:pay_select(-10000)"
                                    class="instant_lottery_2000_pay">
                                    <div class="img-wrap">
                                        <h2 class="card_title card_title_sale">10000</h2>
                                    </div>
                                </a>
                                <div class="index_lottery_qty">-10000￦ </div>
                            </figure> <!-- card // -->
                        </div> <!-- col // -->
                    </div> <!-- row.// -->
                    <hr>
                    <div class="row">
                        <div style="padding-left: 15px;">
                            <h2>현황</h2>
                            <h5>&nbsp;&nbsp;&nbsp;&nbsp;금고보관액: {{daily_balance}}</h5>
                            <h5>&nbsp;&nbsp;&nbsp;&nbsp;지급현황: {{daily_pay}}</h5>
                        </div> <!-- col // -->
                    </div> <!-- row.// -->
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <span id="cart">
                            <form action="{% url 'POSApp:index' %}" method="POST">
                                {% csrf_token %}
                            <table class="table table-hover shopping-cart-wrap">
                                <thead class="text-muted">
                                    <tr>
                                        <th scope="col">Item</th>
                                        <th scope="col" width="120">Qty</th>
                                        <th scope="col" width="120">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr class="pension_lottery_1000_list" style="display:none;">
                                            <td class="list_text">
                                                <figure class="media">
                                                    <figcaption class="media-body">
                                                        <h6 class="title text-truncate">연금 1000</h6>
                                                        <h6 class="title text-truncate">판매</h6>
                                                    </figcaption>
                                                </figure>
                                            </td>
                                            <td class="text-center">
                                                <div class="m-btn-group m-btn-group--pill btn-group mr-2" role="group"
                                                    aria-label="...">
                                                    <button type="button" class="m-btn btn btn-default"
                                                        onclick="qty_button('pension_lottery_1000', false, 'left', -1000)">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                    <button type="button"
                                                        class="m-btn btn btn-default pension_lottery_1000_Qty">0</button>
                                                    <input type="text" class="pension_lottery_1000_Qty" name="pension_lottery_1000_Qty" value="0" style="display:none;">
                                                    <button type="button" class="m-btn btn btn-default"
                                                        onclick="qty_button('pension_lottery_1000', false, 'right', 1000)">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="price-wrap">
                                                    <var class="pension_lottery_1000_price price">0</var>
                                                    <input type="text" class="pension_lottery_1000_price" name="pension_lottery_1000_price" value="0" style="display:none;">
                                                </div> <!-- price-wrap .// -->
                                            </td>
                                        </tr>
                                        <tr class="pension_lottery_5000_list" style="display:none;">
                                            <td class="list_text">
                                                <figure class="media">
                                                    <figcaption class="media-body">
                                                        <h6 class="title text-truncate">연금 5000</h6>
                                                        <h6 class="title text-truncate">판매</h6>
                                                    </figcaption>
                                                </figure>
                                            </td>
                                            <td class="text-center">
                                                <div class="m-btn-group m-btn-group--pill btn-group mr-2" role="group"
                                                    aria-label="...">
                                                    <button type="button" class="m-btn btn btn-default"
                                                        onclick="qty_button('pension_lottery_5000', false, 'left', -5000)">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                    <button type="button"
                                                        class="m-btn btn btn-default pension_lottery_5000_Qty">0</button>
                                                    <input type="text" class="pension_lottery_5000_Qty" name="pension_lottery_5000_Qty" value="0" style="display:none;">
                                                    <button type="button" class="m-btn btn btn-default"
                                                        onclick="qty_button('pension_lottery_5000', false, 'right', 5000)">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="price-wrap">
                                                    <var class="pension_lottery_5000_price price">0</var>
                                                    <input type="text" class="pension_lottery_5000_price" name="pension_lottery_5000_price" value="0" style="display:none;">
                                                </div> <!-- price-wrap .// -->
                                            </td>
                                        </tr>
                                        <tr class="instant_lottery_1000_list" style="display:none;">
                                            <td class="list_text">
                                                <figure class="media">
                                                    <figcaption class="media-body">
                                                        <h6 class="title text-truncate">즉석 1000</h6>
                                                        <h6 class="title text-truncate">판매</h6>
                                                    </figcaption>
                                                </figure>
                                            </td>
                                            <td class="text-center">
                                                <div class="m-btn-group m-btn-group--pill btn-group mr-2" role="group"
                                                    aria-label="...">
                                                    <button type="button" class="m-btn btn btn-default"
                                                        onclick="qty_button('instant_lottery_1000', false, 'left', -1000)">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                    <button type="button"
                                                        class="m-btn btn btn-default instant_lottery_1000_Qty">0</button>
                                                    <input type="text" class="instant_lottery_1000_Qty" name="instant_lottery_1000_Qty" value="0" style="display:none;">
                                                    <button type="button" class="m-btn btn btn-default"
                                                        onclick="qty_button('instant_lottery_1000', false, 'right', 1000)">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="price-wrap">
                                                    <var class="instant_lottery_1000_price price">0</var>
                                                    <input type="text" class="instant_lottery_1000_price" name="instant_lottery_1000_price" value="0" style="display:none;">
                                                </div> <!-- price-wrap .// -->
                                            </td>
                                        </tr>
                                        <tr class="instant_lottery_2000_list" style="display:none;">
                                            <td class="list_text">
                                                <figure class="media">
                                                    <figcaption class="media-body">
                                                        <h6 class="title text-truncate">즉석 2000</h6>
                                                        <h6 class="title text-truncate">판매</h6>
                                                    </figcaption>
                                                </figure>
                                            </td>
                                            <td class="text-center">
                                                <div class="m-btn-group m-btn-group--pill btn-group mr-2" role="group"
                                                    aria-label="...">
                                                    <button type="button" class="m-btn btn btn-default"
                                                        onclick="qty_button('instant_lottery_2000', false, 'left', -2000)">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                    <button type="button"
                                                        class="m-btn btn btn-default instant_lottery_2000_Qty">0</button>
                                                    <input type="text" class="instant_lottery_2000_Qty" name="instant_lottery_2000_Qty" value="0" style="display:none;">
                                                    <button type="button" class="m-btn btn btn-default"
                                                        onclick="qty_button('instant_lottery_2000', false, 'right', 2000)">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="price-wrap">
                                                    <var class="instant_lottery_2000_price price">0</var>
                                                    <input type="text" class="instant_lottery_2000_price" name="instant_lottery_2000_price" value="0" style="display:none;">
                                                </div> <!-- price-wrap .// -->
                                            </td>
                                        </tr>
                                        <tr class="pension_lottery_1000_pay_list" style="display:none;">
                                            <td class="list_text">
                                                <figure class="media">
                                                    <figcaption class="media-body">
                                                        <h6 class="title text-truncate">지급</h6>
                                                    </figcaption>
                                                </figure>
                                            </td>
                                            <td class="text-center">
                                            </td>
                                            <td>
                                                <div class="price-wrap">
                                                    <var class="pay_price price">0</var>
                                                    <input type="text" class="pay_price" name="pay_price" value="0" style="display:none;">
                                                </div> <!-- price-wrap .// -->
                                            </td>
                                        </tr>

                                </tbody>
                            </table>
                                <button type="submit" id="confirm" style="display:none;">제출</button>
                            </form>
                        </span>
                    </div> <!-- card.// -->
                    <div class="box">
                        <dl class="dlist-align">
                            <dt>판 매:</dt>
                            <dd class="text-right h4 b total_sale">0</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>지 급:</dt>
                            <dd class="text-right h4 b total_pay">0</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>합 계:</dt>
                            <dd class="text-right h4 b total">0</dd>
                        </dl>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn  btn-default btn-error btn-lg btn-block btn-custom" onclick="location.href='{% url 'POSApp:index' %}'"><i
                                        class="fa fa-times-circle "></i> 취소 </button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn  btn-primary btn-lg btn-block btn-custom" onclick="confirm()"><i
                                        class="fa fa-shopping-bag"></i>
                                    확인 </button>
                            </div>
                        </div>
                    </div> <!-- box.// -->
                </div>
            </div>
        </div><!-- container //  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    <script src="{% static 'assets/js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/OverlayScrollbars.js' %}" type="text/javascript"></script>
    <script>
        $(function () {
            //The passed argument has to be at least a empty object or a object with your desired options
            //$("body").overlayScrollbars({ });
            $("#items").height(552);
            $("#items").overlayScrollbars({
                overflowBehavior: {
                    x: "hidden",
                    y: "scroll"
                }
            });
            $("#cart").height(445);
            $("#cart").overlayScrollbars({});
        });

        let selectedQty = 0;
        let selectedPrice = 0;
        let selectedTotal = 0;
        function sale_select(select, price) {
            // 우측 리스트에 소환
            document.getElementsByClassName(select + '_list')[0].style.cssText = 'display:visible;';

            // 개수 추가
            selectedQty = parseInt(document.getElementsByClassName(select + '_Qty')[0].innerHTML) + 1;
            document.getElementsByClassName(select + '_Qty')[0].innerHTML = selectedQty;
            document.getElementsByClassName(select + '_Qty')[1].value = String(selectedQty);

            // 가격 추가
            selectedPrice = parseInt(document.getElementsByClassName(select + '_price')[0].innerHTML) + price;
            document.getElementsByClassName(select + '_price')[0].innerHTML = selectedPrice;
            document.getElementsByClassName(select + '_price')[1].value = String(selectedPrice);

            // 총액
            let sale = parseInt(document.getElementsByClassName('total_sale')[0].innerHTML);
            document.getElementsByClassName('total_sale')[0].innerHTML = sale + price;


            selectedTotal += price;
            document.getElementsByClassName('total')[0].innerHTML = selectedTotal;
        }
        function sale_select_x10(select, price) {
            // 우측 리스트에 소환
            document.getElementsByClassName(select + '_list')[0].style.cssText = 'display:visible;';

            // 개수 추가
            selectedQty = parseInt(document.getElementsByClassName(select + '_Qty')[0].innerHTML) + 10;
            document.getElementsByClassName(select + '_Qty')[0].innerHTML = selectedQty;
            document.getElementsByClassName(select + '_Qty')[1].value = String(selectedQty);

            // 가격 추가
            selectedPrice = parseInt(document.getElementsByClassName(select + '_price')[0].innerHTML) + price*10;
            document.getElementsByClassName(select + '_price')[0].innerHTML = selectedPrice;
            document.getElementsByClassName(select + '_price')[1].value = String(selectedPrice);

            // 총액
            let sale = parseInt(document.getElementsByClassName('total_sale')[0].innerHTML);
            document.getElementsByClassName('total_sale')[0].innerHTML = sale + price*10;


            selectedTotal += price*10;
            document.getElementsByClassName('total')[0].innerHTML = selectedTotal;
        }
        function pay_select(price){
            // 우측 리스트에 소환
            document.getElementsByClassName('pension_lottery_1000_pay_list')[0].style.cssText = 'display:visible;';

            // 가격 추가
            selectedPrice = parseInt(document.getElementsByClassName('pay_price')[0].innerHTML) + price;
            document.getElementsByClassName('pay_price')[0].innerHTML = selectedPrice;
            document.getElementsByClassName('pay_price')[1].value = String(selectedPrice);

            // 총액
            var sale = parseInt(document.getElementsByClassName('total_pay')[0].innerHTML);
            document.getElementsByClassName('total_pay')[0].innerHTML = sale + price;

            selectedTotal += price;
            document.getElementsByClassName('total')[0].innerHTML = selectedTotal;

        }
        function qty_button(select, isPay, leftRight, price) {
            // 왼쪽, 오른쪽 버튼 클릭시 -1 or +1
            if (leftRight == 'left') selectedQty = parseInt(document.getElementsByClassName(select + '_Qty')[0].innerHTML) - 1;
            else selectedQty = parseInt(document.getElementsByClassName(select + '_Qty')[0].innerHTML) + 1;
            document.getElementsByClassName(select + '_Qty')[0].innerHTML = selectedQty;
            document.getElementsByClassName(select + '_Qty')[1].value = String(selectedQty);

            // Price 수정
            selectedPrice = parseInt(document.getElementsByClassName(select + '_price')[0].innerHTML) + price;
            document.getElementsByClassName(select + '_price')[0].innerHTML = selectedPrice;
            document.getElementsByClassName(select + '_price')[1].value = String(selectedPrice);

            // 총액
            if (isPay == false) {
                let sale = parseInt(document.getElementsByClassName('total_sale')[0].innerHTML);
                document.getElementsByClassName('total_sale')[0].innerHTML = sale + price;
            }
            else {
                var sale = parseInt(document.getElementsByClassName('total_pay')[0].innerHTML);
                document.getElementsByClassName('total_pay')[0].innerHTML = sale + price;
            }

            selectedTotal += price;
            document.getElementsByClassName('total')[0].innerHTML = selectedTotal;
        }

        function confirm(){
            document.getElementById('confirm').click();
        }

    </script>
</body>

</html>